<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.CutAndShake</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>CutAndShake</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © Rainer Erich Scheichelbauer (mekkablue), 2014–2025</string>
	<key>NSPrincipalClass</key>
	<string>CutAndShake</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/mekkablue/CutAndShake/master/Cocoa/CutAndShake/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/CutAndShake</string>
	<key>productReleaseNotes</key>
	<string>Native Cocoa/ObjC rewrite.</string>
</dict>
</plist>
